@import url('./variables.css');
@import url('./fonts.css');
@import url('./scrollbar.css');

a, h1, h2, h3, h4, h5, h6, body, html, span, p {
  color: var(--text);
}

html {
    overflow-x: hidden;
    background-color: var(--background);
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    box-sizing: border-box;

    cursor: none !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    font-family: 'Courier Prime', system-ui, -apple-system, sans-serif;
    color: var(--text);
}