::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    opacity: 0.8;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}
