@import url('./assets/fonts-css/Montserrat-Complete/montserrat.css');
@import url('./assets/fonts-css/Pangchang/panchang.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border: none;
  outline: none;
}

:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --link-color: #000000;
}

:root[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #fafafa;
  --link-color: #ffffff;
}

body, html {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Montserrat';
}

body.theme-transitioning {
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 600;
}